@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Noto+Sans+KR:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{margin:0; padding:0; box-sizing: border-box;}
ul,li{list-style: none;}
a{text-decoration: none; color:inherit;}
html,body{color:var(--black1-dark); scroll-behavior: smooth;}
button{background-color: transparent; border:none; outline: none; cursor: pointer;}
button{border: none; background: inherit;}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button{
    display: none;
}

.container{
  width: 100%; max-width: 1280px;
  margin:auto;
  padding:0 var(--container-padding);
}

.top{
  position: fixed;
  bottom:20px; right: 20px;
  z-index: 50;
  border-radius: 50%;
  box-shadow: 0 8px 10px #4CAF5077;
  transition: .3s;
  opacity: 0;
}
.top img{
  display: block;
}
.top:hover{
  transform: translateY(-10px);
    box-shadow: 0 15px 20px #4CAF5059;
}
.top.on{
  opacity: 1;
}
::-webkit-scrollbar{
  background-color: #fafafa;
}
::-webkit-scrollbar-thumb{
  /* border-radius: 10px; */
  border: 3px solid #fafafa;
  background-color: var(--sub1-dark-green);
}